{% load static %}
<!-- footer -->
<div class="footer">
    <div class="grid wide">
      <div class="content-footer">
        <div class="row">
          <div class="col l-4" data-aos-once="true" data-aos="fade-up">
            <h4>Voyage Fellow Tourist</h4>
            <p style="line-height: 1.8; font-weight: 300;">
              Far far away, behind the word mountains, far from the countries 
              Vokalia and Consonantia, there live the blind texts.
            </p>
            
          </div>
          <div class="col l-4" data-aos-once="true" data-aos="fade-up">
            <h4>Contact Information</h4>
            <p style="line-height: 1.8; font-weight: 300;"><span>198 West 21th Street, Suite 721 New York NY 10016</span></p>
            <p style="line-height: 1.8; font-weight: 300;"><span> + 1235 2355 98</span> </p>
            <p style="line-height: 1.8; font-weight: 300;"><span>info@yoursite.com</span></p>
            <p style="line-height: 1.8; font-weight: 300;"><span>email@gmail.com</span></p>
          </div>
          <div class="col l-4 col-icon">
            <div class="icon-twitter" data-aos-once="true" data-aos="fade-up"><i class="fab fa-twitter hover-icon"></i></div>
            <div class="icon-fb" data-aos-once="true" data-aos="fade-up"><i class="fab fa-facebook-f hover-icon"></i></div>
            <div class="icon-ins" data-aos-once="true" data-aos="fade-up"><i class="fab fa-instagram hover-icon"></i></div>
          </div>
        </div>
        <div class="row">
          <p style="margin: 0px auto;padding-top: 100px;">Copyright ©2021 All rights reserved | This template is made with  by Colorlib</p>
        </div>
      </div>
    </div>
  </div>