{% load static %}
<!-- header -->
<header>
    <div class="grid wide">
      <div class="inner-header container">
          <a href="/" class="logo">TravelNow</a>
          <nav>
              <ul id="main-menu">
                  <li><a href="/">Home</a></li>
                  <li><a href="/home/tour">Tours</a></li>
                  <li><a href="/home/about">About</a></li>
                  <li><a href="/home/contact">Contact</a></li>
              </ul>
          </nav>
      </div>
    </div>
  </header>