{% load static %}
<!-- tour -->
<div class="grid wide">
    <div class="tour-title" data-aos-once="true" data-aos="fade-up">
      <p>Most Popular Tours</p>
    </div>
    
    <div class="tour-popular">
      <div class="row">
        <div class="col l-4" data-aos-once="true" data-aos="fade-up">
          <a href="/home/productdetail/2" class="tour-item">
            <div class="tour-item_img" style="background-image: url('http://static.asiawebdirect.com/m/.imaging/724x482/website/bangkok/portals/vietnam/homepage/ha-long-bay/ha-long-bay-boat-cruise/allParagraphs/BucketComponent/ListingContainer/02/image.jpg')">
              <div class="tour-item_img-overlay"></div>
              <div class="tour-item_block">
                <div class="tour-item_block-price">$599</div>
                <div class="tour-item_block-title">Ha Long Bay</div>
                <div class="tour-item_block-description">Halong Bay is a beautiful natural wonder in northern Vietnam near the Chinese border. The Bay is dotted with 1,600 limestone islands and islets and covers an area of over 1,500 sqkm. This extraordinary area was declared a UNESCO World Heritage Site in 1994. For many tourists, this place is like something right out of a movie. The fact is that Halong Bay features a wide range of biodiversity, while the surrealistic scenery has indeed featured in endless movies.

                  The best way to get to Halong City is by car, minibus or bus from Hanoi which is only 170km away. If budget is not a problem, an hour-long helicopter transfer is also available.</div>
                <div class="tour-item_block-rate">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  <span class="tour-item_block-review">500 reviews</span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col l-4" data-aos-once="true" data-aos="fade-up">
          <a href="/home/productdetail/4" class="tour-item">
            <div class="tour-item_img" style="background-image: url('https://travel.usnews.com/dims4/USNEWS/2da0e81/2147483647/resize/976x652%5E%3E/crop/976x652/quality/85/?url=https://travel.usnews.com/images/GettyImages-617574748_1.jpg')">
              <div class="tour-item_img-overlay"></div>
              <div class="tour-item_block">
                <div class="tour-item_block-price">$999</div>
                <div class="tour-item_block-title">Zion National Park</div>
                <div class="tour-item_block-description">Named for the Hebrew word "refuge," Zion National Park – nestled in Utah's southwest corner – is no longer the quiet sanctuary it once was. The park is now one of the most visited in the country, welcoming more than four million visitors per year. It's as if travelers stumbled upon a secret and can't get enough of the apricot-colored Zion Canyon, which they can view wading through its Virgin River or ascending Angels Landing, with each bend in the river or turn in the trail affording an even more breathtaking view. Plus, the blanket of stars that illuminates the night sky is a welcome nightcap to a day filled with active pursuits. And when it's time to come back from the refuge to reality, the 166-mile drive from Las Vegas or the 308-mile drive from Salt Lake City is just about the right amount of time to process all the beauty you just experienced.</div>
                <div class="tour-item_block-rate">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  <span class="tour-item_block-review">500 reviews</span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col l-4" data-aos-once="true" data-aos="fade-up">
          <a href="/home/productdetail/14" class="tour-item">
            <div class="tour-item_img" style="background-image: url('https://www.telegraph.co.uk/content/dam/Travel/Destinations/Europe/United%20Kingdom/cotswolds-getty.jpg?imwidth=1240')">
              <div class="tour-item_img-overlay"></div>
              <div class="tour-item_block">
                <div class="tour-item_block-price">$159</div>
                <div class="tour-item_block-title">COTSWOLDS</div>
                <div class="tour-item_block-description">The glorious, honey-coloured towns and villages of the Cotswolds look as if they have strayed into the 21st century from another era. The area is characterised by gentle dynamism, with lively galleries, vibrant festivals and a liberal endowment of intriguing museums. Covering nearly 800 square miles across five counties (Wiltshire, Gloucestershire, Oxfordshire, Warwickshire and Worcestershire), this region of 'wolds', or rolling hills, is the biggest of the 38 Areas of Outstanding Natural Beauty (AONB) in England and Wales.</div>
                <div class="tour-item_block-rate">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  <span class="tour-item_block-review">500 reviews</span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col l-4" data-aos-once="true" data-aos="fade-up">
          <a href="/home/productdetail/16" class="tour-item">
            <div class="tour-item_img" style="background-image: url('https://www.touropia.com/gfx/d/tourist-attractions-in-australia/fraser_island.jpg')">
              <div class="tour-item_img-overlay"></div>
              <div class="tour-item_block">
                <div class="tour-item_block-price">$319</div>
                <div class="tour-item_block-title">Fraser Island</div>
                <div class="tour-item_block-description">Separated from the mainland of Australia by the Great Sandy Strait, Fraser Island lies just off the Queensland’s southeast coast. Stretching for over a hundred kilometers, the world’s largest sand island is a popular place to visit due to its beautiful scenery and outstanding natural sights.</div>
                <div class="tour-item_block-rate">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  <span class="tour-item_block-review">500 reviews</span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col l-4" data-aos-once="true" data-aos="fade-up">
          <a href="/home/productdetail/22" class="tour-item">
            <div class="tour-item_img" style="background-image: url('https://www.planetware.com/photos-large/F/best-places-france-alsace-village-hunawihr.jpg')">
              <div class="tour-item_img-overlay"></div>
              <div class="tour-item_block">
                <div class="tour-item_block-price">$559</div>
                <div class="tour-item_block-title">The Alsace Region</div>
                <div class="tour-item_block-description">The historic cities of Strasbourg and Colmar, along with the hundreds of Alsatian villages, have a special old-world charm that is completely distinct from the rest of France. The architecture and ambience of Alsace has been influenced over the centuries by neighboring Germany, as seen in the brightly painted, half-timbered buildings and venerable Gothic churches.</div>
                <div class="tour-item_block-rate">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  <span class="tour-item_block-review">500 reviews</span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col l-4" data-aos-once="true" data-aos="fade-up">
          <a href="/home/productdetail/27" class="tour-item">
            <div class="tour-item_img" style="background-image: url('https://www.touropia.com/gfx/d/best-places-to-visit-in-italy/cinque_terre.jpg')">
              <div class="tour-item_img-overlay"></div>
              <div class="tour-item_block">
                <div class="tour-item_block-price">$119</div>
                <div class="tour-item_block-title">Cinque Terre</div>
                <div class="tour-item_block-description">Meaning “Five Lands,” Cinque Terre comprises the five villages of Riomaggiore, Manarola, Vernazza, Monterosso and Corniglia. Riomaggiore boasts a medieval castle and the bustling main street of Via Colombo while Manarola is filled with colorful boats, swimming holes and caves. Surrounded by olive groves, Vernazza offers a lively nightlife scene. The beautiful beach of Monterossa is lined with resorts while sloping vineyards adorn Corniglia. Rich in agriculture and fishing, the Cinque Terre villages are teeming in cafes and trattorias, which serve locally grown wine, olives, cheeses, pasta, seafood and homemade breads.</div>
                <div class="tour-item_block-rate">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  <span class="tour-item_block-review">500 reviews</span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <a href="/home/tour" class="all-tour">All Tour</a>
    </div>
  </div>