* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    --primaryGradient: #0084ff;
    --secondaryGradient: #0084ff;
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #0084ff;
}

html {
  font-family: "Muli", Arial, sans-serif;
  color: #fff;
  font-size: 16px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

#wrapper{
  overflow: hidden;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    transition: all 0.5s ease-in-out;
    z-index: 5;
}

header.sticky {
    background: #fff;
    border-bottom: 0px solid #fff;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}

header.sticky .logo {
    color: #000;
}

header.sticky #main-menu a {
    color: #000;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    margin: 0px auto;
    width: 100%;
}

.inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 1.2rem;
}

ul#main-menu {
    display: flex;
    margin-right: 57px;
}

ul#main-menu a {
    padding: 10px 20px;
    color: #fff;
    display: block;
}

#wrapper .main-banner {
  padding-top: 50%;
  background: top center / cover no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}



#wrapper .text-banner {
    position: absolute;
    top: 200px;
    left: 57px;
    font-size: 72px;
    color: #fff;
}

.slider{
  width: 100%;
  height: 100%;
  position: relative;
}
.slider-wrapper{
  position: relative;
  width: 100%;
}
.slider-main{
  position: relative;
  display: flex;
  transition: left 0.7s ease-out;
}
.slider-item{
  padding-top: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(100% - 117px);
  min-height:700px;
  flex: 1 0 100%;
  position: relative;
}
.slider-item-overlay{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}
.slider-item-text{
  position: absolute;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  left: 115px;
  font-size: 72px;
  color: #fff;
  line-height: 1.2;
  font-weight: 400;
  width: 620px;
  letter-spacing: 1px;
}
.slider-left{
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 1;
  transform: translateY(-50%);
  padding: 15px 12px;
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
  font-size: 20px;
}
.slider-right{
  position: absolute;
  top: 50%;
  right: 5px;
  z-index: 1;
  transform: translateY(-50%);
  padding: 15px 12px;
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
  font-size: 20px;
}
.slider-left:hover,.slider-right:hover{
  background-color: transparent;
}

.home-title p {
  color: #000;
  text-align: center;
  padding: 20px 0; 
  font-size: 20px;
}

.content-description {
  width: 100%;
  height: 620px;
  display: flex;
}
.img-description {
  height: 100%;
  width: 50%;
  background: url('https://preview.colorlib.com/theme/voyage/images/xtour-3.jpg.pagespeed.ic.lPv5U7GCSJ.webp') top center / cover no-repeat;

}

.text-description {
  height: 100%;
  width: 50%;
}

.text-description h2 {
  padding: 138px 145px 70px 90px;
  line-height: 1.5;
  color: #000;
  font-weight: 400;
  font-size: 1.75rem;
}

.text-description p {
  padding: 0px 145px 30px 90px;
  color: #000;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  color: gray;
  text-align: left;
}

.tour-title p {
  color: #000;
  text-align: center;
  padding-bottom: 100px;
  font-size: 40px;
}

#tour {
  width: 100%;
  height: 100%;
}

#tour .content-tour {
  padding: 50px 57px 50px 57px;
  
}

.experience{
  padding-top: 150px;
  padding-bottom: 200px;
  padding-left: 45px;
}
.experience-item{
  text-align: center;
  width: 275px;
}
.experience-item__title{
  font-size: 22px;
  font-weight:500;
  color: #000;
  padding-top: 40px;
  padding-bottom: 10px;
}
.experience-item__descrip{
  font-size: 16px;
  line-height:30px;
  color: rgba(0, 0, 0, 0.7);
  font-weight:500;
  text-align:center;
}


@keyframes FadeIn {
  from {
      opacity: 0;
      transform: translateY(175px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}


.tour-item{
  text-decoration: none;
  color: #fff;
  position: relative;
}
.tour-item:hover{
  color: #000;
}
.tour-item:hover .tour-item_block-description{
  color: rgba(0, 0, 0, 0.6);
}
.tour-item_img{
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height:400px;
  position: relative;
  margin-top: 25px;
}
.tour-item_img:hover .tour-item_img-overlay{
  display: block;
  animation: FadeIn linear 0.2s;
}
.tour-item_img::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
  opacity: .8;
}
.tour-item_img-overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: calc( 100% - 175px);
  background-color: #fff;
  display: none;
}

.tour-item_block{
  position: absolute;
  left: 20px;
  right: 10px;
  bottom: 30px;
}
.tour-item_block-price{
  padding-bottom: 15px;
  font-size: 16px;
}
.tour-item_block-title{
  padding-bottom: 15px;
  font-size: 24px;
}
.tour-item_block-description{
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 18px;
  height: 36px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: rgba(255, 255, 255, 0.7);
}
.tour-item_block-rate{
  padding-top: 10px;
  font-size: 12px;
}
.tour-item_block-review{
  padding-top: 10px;
  font-size: 12px;
}


.all-tour{
  background-color:#FF4A52;
  color: #fff;
  padding: 13px 39px;
  margin: 75px auto;
  width: 142px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content:center;
  border-radius: 5px;
  z-index: 1;
}
.all-tour:hover{
  background: #1EC6B6;
  transition: 0.3s;
}

.contact{
  padding: 100px 0;
}
.contact-title{
  color: #FF4A52;
  text-align: center;
  font-size: 40px;
  padding-bottom: 40px;
}
.contact-name{
  display: block;
  height: 50px;
  width: 450px;
  margin: 0 auto;
  padding-left: 10px;
  margin-bottom: 20px;
}
.contact-email{
  display: block;
  width: 450px;
  height: 50px;
  margin: 0 auto;
  padding-left: 10px;
  margin-bottom: 20px;
}
.contact-phone{
  display: block;
  width: 450px;
  height: 50px;
  margin: 0 auto;
  padding-left: 10px;
  margin-bottom: 20px;
}
.start_date{
  height: 50px;
  margin-left: 53px;
  color: #000;
  border: 1px solid rgb(100, 98, 98);
  border-radius:3px;
  width: 220px;
  display: inline-block;
}
.start_date-label{
  display: inline-block;
  padding-left: 10px;
  color: #FF4A52;
  font-weight: bold;
}
.start_date-input{
  border: none;
  outline: none;
}

.end_date{
  height: 50px;
  margin-left: 5px;
  color: #000;
  border: 1px solid rgb(100, 98, 98);
  border-radius:3px;
  width: 220px;
  display: inline-block;
}
.end_date-label{
  display: inline-block;
  padding-left: 10px;
  color: #FF4A52;
  font-weight: bold;
  padding-right: 10px;
}
.end_date-input{
  border: none;
  outline: none;
}
.contact-message{
  display: block;
  width: 450px;
  height: 200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
}
.contact-btn{
  display: block;
  width: 210px;
  height: 60px;
  margin: 0 auto;
  padding-left: 10px;
  margin-top: 20px;
  background-color: #FF4A52;
  border: none;
  color: #fff;
  align-self: center;
  cursor: pointer;
}
.contact-btn:hover{
  background-color: #fff;
  color: #FF4A52;
  border: 2px solid #FF4A52;
  transition: 0.2s;
}

#wrapper .footer {
  width: 100%;
  /* height: 400px; */
  background-color: #2C2E3E;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* z-index: 10; */
}

.content-footer {
  padding-top: 50px;
  padding-bottom: 20px;
  
}
.content-footer h4 {
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 8px;
}

.content-footer p {
  color: #FFFFFF80;
}

.col.col-icon {
  display: flex;
  justify-content: center;
}

.icon-twitter,
.icon-fb,
.icon-ins {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: rgba(255, 255, 255, 0.5);
  background-color: #FFFFFF0D;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.col .hover-icon {
  transition: all 0.5s ease;
}

.icon-twitter:hover,
.icon-fb:hover,
.icon-ins:hover {
  cursor: pointer;
  color: #fff;
}

.col span {
  cursor: pointer;
  transition: all 0.5s ease;
}

.col span:hover {
  color: #fff;
}

.tour-list{
  padding-top: 50px;
  padding-bottom: 175px;
}

.contact-infor,
.contact-input{
  padding: 110px 0;
}
.contact-infor__title{
  font-size: 24px;
  color: #000;
  font-weight:500;
  padding-bottom: 30px;
}
.contact-infor__address,
.contact-infor__phone,
.contact-infor__email,
.contact-infor__web{
  height: 77px;
  padding-left: 15px;
  color: #808080;
  border: 1px solid #808080;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 16px;
}
.contact-btn2{
  display: block;
  width: 210px;
  height: 60px;
  margin-left:52px;
  padding-left: 10px;
  margin-top: 20px;
  background-color: #FF4A52;
  border: none;
  color: #fff;
  cursor: pointer;
}
.contact-btn2:hover{
  background-color: #fff;
  color: #FF4A52;
  border: 2px solid #FF4A52;
  transition: 0.2s;
}

.our-story{
  padding-top: 155px;
}
.our-story__title{
  padding-bottom: 80px;
  color: #000;
  font-size: 38px;

}
.our-story__description{
  color: #7A838B;
  padding-left: 95px;
  padding-right: 250px;
  font-size: 16px;
  line-height:30px;
  padding-bottom: 80px;
}
.our-story-img1{
  padding-top: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  margin-left: 95px;
  margin-bottom: 75px;
}
.our-story-img2{
  padding-top: 82.5%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  margin-left: 60px;
  margin-bottom: 75px;
}

.counter{
  font-size: 60px;
  color: #FF4A52;
  padding-bottom: 40px;
  text-align: center;
  padding-left: 35px;
}
.counter-title{
  font-size: 16px;
  color: #7A838B;
  text-align: center;
  padding-left: 35px;
}

.about-team{
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 38px;
  padding: 100px 0;
}

.mem{
  border-radius:50%;
}
.mem-name{
  text-align: center;
  color: #000;
  font-size: 24px;
  padding: 15px 0;
}
.mem-MSV{
  text-align: center;
  color: #7A838B;
  font-size: 18px;
  padding-bottom: 115px;
}
.mem-position{
  display: inline-block;
  text-align: center;
  color: #FF4A52;
  font-size: 18px;
}


.reigion-item:hover .reigion-item__img{
  transition: 0.3s;
  transform: translateY(-2px) ;
}
.reigion-item:hover .reigion-item__name{
  transition: 0.3s;
  color: #FF4A52;
}
.reigion-item:hover .reigion-item__count{
  transition: 0.3s;
  background-color: #FF4A52;
}
.reigion-item__img{
  padding-top: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 200px;
  position: relative;
  transition: transform ease-in 0.1s ;
  margin-bottom: 30px;
  border-radius: 10px;
}
.reigion-item__overlay{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.reigion-item__block{
  position: absolute;
  display: flex;
  bottom: 20px;
  left: 20px;
  color: #fff;
}
.reigion-item__name{
  font-size: 25px;
  font-weight: 600;
}
.reigion-item__count{
  align-self: center;
  padding: 3px 10px;
  background-color: #00b5cc;
  border-radius:25px;
  margin-left: 10px;
}

.reigion-name{  
  color: #000;
  width: 500px;
  text-align: center;
  margin: 0 auto;
  font-size: 50px;
  font-weight: 600;
  padding-bottom: 35px;
}
.reigion-description{
  color: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  width: 720px;
  text-align: center;
  font-size: 16px;
  line-height: 23px;
  padding-bottom: 35px;
}


.tour-detail__img{
  padding-top: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
}
.tour-detail__name{
  padding-left: 40px;
  color: #000;
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 30px;
}
.tour-detail__description{
  padding-left: 40px;
  color: #000;
  font-size: 16px;
  line-height:25px;
  height:210px;
}
.tour-detail__price{
  color: #FF4A52;
  padding-left: 40px;
  font-size: 20px;
  font-weight:600;
  margin: 20px 0;
}
.tour-detail__book{
  color: #000;
  font-size: 18px;
  margin-left: 40px;
  background-color:#FF4A52;
  border: none;
  padding:15px 25px;
  border: 2px solid #FF4A52;

}
.tour-detail__book:hover{
  background-color: transparent;
  border: 2px solid #FF4A52;
  cursor: pointer;
}




/* Bot chat */

.container_chatbox {
  position: fixed;
  bottom: 0px;
  right: 0px; 
}

.chatbox {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
  display: flex;
  flex-direction: column;
  background: #eee;
  width: 300px;
  height: 350px;
  /* z-index: -123456; */
  opacity: 0;
  transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
  transform: translateY(-10px);
  z-index: 8;
  opacity: 1;
}

/* BUTTON */
.chatbox__button {
  text-align: right;
}

.send__button {
  padding: 6px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}


/* HEADER */
.chatbox__header {
  top: 0;
  background-color: orange;
}

/* MESSAGES */
.chatbox__messages {
  margin-top: auto;
  display: flex;
  overflow-y: scroll;
  flex-direction: column-reverse;
}

.messages__item {
  background: orange;
  max-width: 60.6%;
  width: fit-content;
}

.messages__item--operator {
  margin-left: auto;
}

.messages__item--visitor {
  margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
  /* position: sticky; */
  bottom: 0;
}

.chatbox__support {
  background: #f9f9f9;
  height: 440px;
  width: 350px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
  background: var(--primaryGradient);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
  margin-right: 10px;
}

.chatbox__heading--header {
  font-size: 1.2rem;
  color: white;
}

.chatbox__description--header {
  font-size: .9rem;
  color: white;
}

/* Messages */
.chatbox__messages {
  padding: 0 20px;
}

.messages__item {
  color: #000;
  margin-top: 10px;
  background: #E0E0E0;
  padding: 8px 12px;
  max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.messages__item--operator {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: var(--primary);
  color: white;
}

/* FOOTER */
.chatbox__footer {
  display: flex;
  /* position: fixed;
  left: 0;
  right: 0;
  bottom: 0; */
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  background: var(--secondaryGradient);
  box-shadow: var(--secondaryBoxShadow);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 20px;
}

.chatbox__footer input {
  width: 80%;
  border: none;
  padding: 10px 10px;
  border-radius: 30px;
  text-align: left;
}

.chatbox__send--footer {
  color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
  padding: 10px;
  background: white;
  border: none;
  outline: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
