{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include "../widgets/head.html" %}
<body>
    <div id="wrapper">
        
        {% include "../widgets/header.html" %}

        {% block content %}
        {% endblock %}

        {% include "../widgets/footer.html" %}

       
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script>
      // kéo thanh header
      $(document).ready(function(){
        $(window).scroll(function(){
          if($(this).scrollTop()){
              $('header').addClass('sticky');
          } else {
              $('header').removeClass('sticky');
          }
        });
      });
      
    </script>

    <!-- <script>
      $(document).ready(function(){

      });
      function addCart(id){
        your_name=$("#yourname").val();
        add_ress=$("#address").val();
        your_mail=$("#yourmail").val();
        your_phone=$("#yourphone").val();
        num=$("#number").val();
        if(num<2){
          num=2;
        }
        $.post('/home/addcart',{'id':id,'yourname':your_name,'yourmail':your_mail,'yourphone':your_phone,'address':add_ress,'number':num,'csrfmiddlewaretoken':'{{ csrf_token }}'},function(data,text){
        });
    }  
    </script> -->

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init(); 
   </script>
</body>
</html>